{% include 'admincabecera.html' %}

<div class="container my-5">
    <h2 class="text-center text-uppercase mb-4">Cargar nuevo producto</h2>

    <form action="{{ url_for('cargar_producto') }}" method="POST" enctype="multipart/form-data" class="p-4 shadow rounded-4 bg-light">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea id="descripcion" name="descripcion" class="form-control" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" id="precio" name="precio" step="0.01" class="form-control" min="0" required>
        </div>

        <div class="mb-3">
            <label for="color" class="form-label">Color</label>
            <input type="text" name="color" id="color" class="form-control" placeholder="Ej. rojo, azul" required>
        </div>

        <div class="mb-3">
            <label for="talle" class="form-label">Talle</label>
            <input type="text" id="talle" name="talle" class="form-control" placeholder="Ej. S, M, L, 38, 40" required>
        </div>

        <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" id="stock" name="stock" class="form-control" min="0" required>
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen del producto</label>
            <input type="file" id="imagen" name="imagen" accept="image/*" class="form-control" required>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-dark rounded-pill">Cargar producto</button>
        </div>
    </form>
</div>
