{% include("usuariocabecera.html") %}
<h2>Catálogo</h2>
<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    {% for producto in productos %}
        <div style="border: 1px solid #ccc; padding: 10px; width: 200px;">
            <img src="{{ url_for('static', filename='imagenes_productos/' ~ producto.imagen) }}" width="180"><br>
            <strong>{{ producto.nombre }}</strong><br>
            <p>{{ producto.descripcion }}</p>
            <p>$ {{ producto.precio }}</p>
        </div>
    {% endfor %}
</div>