{% include 'usuariosinlogincabecera.html' %}

<div class="container my-4">

    <!-- Fila 1 -->
    <div class="row mb-4">
        <!-- Producto 1 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a7841-8e0d2ea7b71d51953717422233779758-480-0.webp" alt="Vestidos">
                <div class="card-body">
                    <h5 class="card-title">VESTIDOS</h5>
                    <a class="btn btn-primary" href="URL_LINK_1" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 2 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/work-2025-04-17t010219-817-85737f716ff910a29817448629372000-480-0.webp" alt="Pantalones">
                <div class="card-body">
                    <h5 class="card-title">PANTALONES</h5>
                    <a class="btn btn-primary" href="URL_LINK_2" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 3 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a1696-33669f7dd350b9ea4117436459955609-480-0.webp" alt="Denim">
                <div class="card-body">
                    <h5 class="card-title">DENIM</h5>
                    <a class="btn btn-primary" href="URL_LINK_3" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 4 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a0338-82d4f459c21ac5a43e17442987043901-480-0.webp" alt="Camisas">
                <div class="card-body">
                    <h5 class="card-title">CAMISAS</h5>
                    <a class="btn btn-primary" href="URL_LINK_4" target="_blank">Ver más</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Fila 2 -->
    <div class="row mb-4">
        <!-- Producto 5 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a1747-dd7b90e8215378d01717434320107011-480-0.webp" alt="Remerones">
                <div class="card-body">
                    <h5 class="card-title">REMERONES</h5>
                    <a class="btn btn-primary" href="URL_LINK_5" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 6 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a1760-53fd238627edf9c9d117434321723931-480-0.webp" alt="Remeras">
                <div class="card-body">
                    <h5 class="card-title">REMERAS</h5>
                    <a class="btn btn-primary" href="URL_LINK_6" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 7 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a7775-9cae5dc2df43219f8b17422233198025-480-0.jpg" alt="Tapados">
                <div class="card-body">
                    <h5 class="card-title">TAPADOS</h5>
                    <a class="btn btn-primary" href="URL_LINK_7" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 8 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a0209-f702ab745c960beda117405802808172-480-0.jpg" alt="Conjuntos">
                <div class="card-body">
                    <h5 class="card-title">CONJUNTOS</h5>
                    <a class="btn btn-primary" href="URL_LINK_8" target="_blank">Ver más</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Fila 3 -->
    <div class="row mb-4">
        <!-- Producto 9 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a0417-864677e2753b3c5e1517441315848072-480-0.jpg" alt="Camperas">
                <div class="card-body">
                    <h5 class="card-title">CAMPERAS</h5>
                    <a class="btn btn-primary" href="URL_LINK_9" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 10 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/work-2025-04-15t135322-992-4e1411c751b56b94dd17447680968934-480-0.webp" alt="Poleras">
                <div class="card-body">
                    <h5 class="card-title">POLERAS</h5>
                    <a class="btn btn-primary" href="URL_LINK_10" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 11 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a1725-60e210f1526e7eb91317434318793260-480-0.webp" alt="Chalecos">
                <div class="card-body">
                    <h5 class="card-title">CHALECOS</h5>
                    <a class="btn btn-primary" href="URL_LINK_11" target="_blank">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Producto 12 -->
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://acdn-us.mitiendanube.com/stores/893/986/products/8o3a7767-a49805882ac62f7f2c17422230322837-480-0.webp" alt="Buzos">
                <div class="card-body">
                    <h5 class="card-title">BUZOS</h5>
                    <a class="btn btn-primary" href="URL_LINK_12" target="_blank">Ver más</a>
                </div>
            </div>
        </div>
    </div>

</div>
